/* Break */
.outline-animation {
  position: relative;
  overflow: hidden;
}
.outline-animation:hover {
  color: #fff;
}
.outline-animation::after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 120%;

  height: 0;
  rotate: -5deg;
  clip-path: ellipse(50% 23% at 50% 50%);
  transition: all 1.2s ease-in-out;

  clip-path: ellipse(50% 23% at 50% 50%);
  z-index: -1; /* Ensure the animation is behind the button content */
}

.outline-animation:hover::after {
  height: 150%; /* Ensure the gradient fully covers the button */
  rotate: 0deg;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
  background: radial-gradient(circle at left, #cd0e2d 0%, #cd0e2d 30%);
  transition: all 1.2s ease-in-out;
}
