@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body {
  background: none;
  font-family: "Manrope", sans-serif;
  color: black;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.border_but {
  border-bottom: 10px solid red;
}

.sea {
  animation: myship 1.5s;
  -moz-animation: myship 1.5s; /* Firefox */
  -webkit-animation: myship 1.5s; /* Safari and Chrome */
}

@keyframes myship {
  from {
    right: -90vh;
  }
  to {
    right: calc((100vw-1536px) / 2);
  }
}

.sea_inv {
  animation: myship_inv 1.5s;
  -moz-animation: myship_inv 1.5s; /* Firefox */
  -webkit-animation: myship_inv 1.5s; /* Safari and Chrome */
}

@keyframes myship_inv {
  from {
    right: calc((100vw-1536px) / 2);
  }
  to {
    right: -90vh;
  }
}

/* .typewriter{
  span{
    font-family: "Kalnia", serif;
  };
  span>span:nth-child(2) {
    font-family: "Playfair" !important;
    font-weight: 900 !important;
    font-size: 2rem;
  }
} */

.typewriter span {
  font-family: "Kalnia", serif;
}

.typewriter span > span:nth-child(2) {
  font-family: "Playfair" !important;
  font-weight: 900 !important;
  font-size: 2rem;
}


/* .typewriter1{
  span{
    font-family: "Playfair", serif !important;
    font-style: italic;
    font-weight: bolder !important;
    color: black !important;

  };
  span>span:nth-child(2) {
    font-family: "Playfair" !important;
    font-weight: 900 !important;
    font-size: 2rem;
  }
} */

.typewriter1 span {
  font-family: "Playfair", serif !important;
  font-style: italic;
  font-weight: bolder !important;
  color: black !important;
}

.typewriter1 span > span:nth-child(2) {
  font-family: "Playfair" !important;
  font-weight: 900 !important;
  font-size: 2rem;
}

.carousel>div {
  box-shadow: '0 35px 60px -15px rgba(0, 0, 0, 0.3)' !important;
}

/* color: red !important; */
/* @-moz-keyframes myship{
  from {left: 480px;} 
  to{left:20px;} 
};
@-webkit-keyframes myship{
  from {left: 480px;} 
  to{left:20px;} 
}; */
